---
import HTMLIcon from "./icons/HTML.astro"
import CSSIcon from "./icons/CSS.astro"
import JavaScriptIcon from "./icons/JavaScript.astro"
import WordpressIcon from "./icons/Wordpress.astro"
import PHPIcon from "./icons/PHP.astro"
import WorldWebIcon from "./icons/WorldWeb.astro"
import { getI18N } from '../i18n/';

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const TAGS = {
    HTML: {
        name: "HTML",
        class: "bg-orange-900 text-white font-semibold",
        icon: HTMLIcon,
    },
    CSS: {
        name: "CSS",
        class: "bg-blue-900 text-white font-semibold",
        icon: CSSIcon,
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-yellow-900 text-white font-semibold",
        icon: JavaScriptIcon,
    },
    WORDPRESS: {
        name: "Wordpress",
        class: "bg-blue-200 text-black font-semibold",
        icon: WordpressIcon,
    },
    PHP: {
        name: "Php",
        class: "bg-gray-900 text-white font-semibold",
        icon: PHPIcon,
    },
};

const PROJECTS = [
    {
        title: i18n.PROJECTS.TITLE_AFERS,
        description: i18n.PROJECTS.DESCRIPTION_AFERS,
        link: "https://afersdigitals.com",
        github: "#",
        image: "/public/images/afersdigitals.webp",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.WORDPRESS, TAGS.PHP],
    },
];
---

{
    PROJECTS.map((project) => (
        <article class="px-4 md:px-0">
            <h3 class="text-2xl font-semibold text-blue-300 mb-2">
                {project.title}
            </h3>
            <p class="text-lg mb-4 text-pretty">{project.description}</p>
            <ul class="flex gap-x-2 flex-row mb-2">
                {project.tags.map((tag) => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs py-1 px-2 ${tag.class}`}>
                            <tag.icon class="size-4" />
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <a href={project.link} target="_blank" rel="noopener noreferrer">
                <div class="group relative">
                    <img
                        class="rounded shadow-2xl shadow-white/10"
                        src={project.image}
                        alt={`Captura de pantalla del proyecto ${project.image}`}
                    />
                    <div class="absolute inset-0 flex flex-col items-center justify-center opacity-0 bg-black text-white transition-opacity duration-200 group-hover:opacity-75">
                        <WorldWebIcon />
                        <p class="text-lg font-bold">{i18n.PROJECTS.IMAGE_HOVER_TEXT_AFERS}</p>
                    </div>
                </div>
            </a>
        </article>
    ))
}
